<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Play</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bulls_cows/site.css' %}" />
    </head>
    <body>
        <div class="message">Welcome to Bulls and Cows</div>

        <div class="navbar">
            <a href="{% url 'home' %}" class="navbar-brand">Home</a>
            <a href="{% url 'play' %}" class="navbar-item">Bulls and Cows</a>
        </div>



        <div id="notebook">
            <ln>Notebook</ln>
            <div id="data">{{ data }}</div>
        </div>>





        <form method="POST" class="input-number" action="" autocomplete="off">
            {% csrf_token %}
            <input class="digit" maxlength="4" name="user-number">
            <input type="submit" class="send-button">
        </form>


        <div id="counter">{{ counter }}</div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
        </div>

        <footer>
        <p>This is the homepage 2077</p>
        </footer>

    </body>
</html>