{% extends "base.html" %}
{% block content %}

    <form method="POST">
        <input type="hidden" name="player_name" value="players_name">
        {% csrf_token %}
        {{ form_player_name }}
        <input type="submit" class="send-button" value="Change name"/>
    </form>

    
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="digits_input" value="user_guess">
        {{ form_number_input }}
        <!-- <input type="number"> -->
        <input type="submit" class="send-button" value="Play">
    </form>

{% endblock %}