body {
    display: flex;
    margin: 0% 15% 0%;
    flex-direction: column;
    /* background-color: red; */
}


footer {
    font-style: italic;
    margin: auto;
    align-self: center;
}


hr {
    margin-left: auto;
    margin-right: auto;
}


form {
    display: flex;
    align-self: center;
    align-content: flex-start;
    padding: 1%;
    
}


label {
    display: flex;
    color: indigo;
    background-color: lightcoral;
    font-style: italic;
}


.title {
    font-weight: 500;
    font-size: 2em;
    color: green;
    align-self: center;
    padding: 1.5% 0%;

}

.navbar {
    display: flex;
    /* margin: 3% 20% 3%; */
    border-radius: 20px;
    background-color: lightcyan;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    padding: 1% 1% 1%;
    align-content: flex-start;
    flex-wrap: wrap;

}

.navbar-brand {
    font-size: 1.4em;
    font-weight: 600;
    color: black;
    margin: auto;
}

.navbar-item {
    font-variant: small-caps;
    /* margin-left: 5%; */
    color: black;
    margin: auto;
}


.body-content {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    margin: 0% 20% 0%;
    padding: 10px;
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

.input-number {
    margin: 0 auto;
    text-align: center;
    border: darkred;
    border-radius: 5px;
    padding: 10px;
    white-space: nowrap;

}

.digit {
    text-align: center;
    letter-spacing: 2em;
    border: none;
    font-size: 2em;
}

.digit:focus-within {
  border: none;
  border: 0px;
  color: dodgerblue;
}

.send-button {
    background: lightgreen;
    font-weight: bold;
    border-radius: 10px;
}

